<p style="text-align:left"> You have visited this page <%= @visit_count %> times </p>

<h1 id="index_title" align="center"> Gaming Galore!</h1>
  

  <img class="center-block"  src="http://i.kinja-img.com/gawker-media/image/upload/t_original/1359563471926476945.jpg" style="height:300px;width:500px"> </img>



  <h2>Products:</h2>
  <span><a href="/products?sort=price&sort_order=asc">Sort by Price (low to high)</a></span>
  <br></br>
  <span><a href="/products?sort=price&sort_order=DESC">Sort by Price (high to low)</a></span>
  
  <% @products.each_slice(3) do |three_products| %>

    <div class="row">
    
      <% three_products.each do |product| %>
        <div class ="col-md-4 col-sm-4">
          <div class="well">


          <a href="/products/<%= product.id %>">Name: <%= product.name %></a>
          <p>Price: <%= product.price %></p>
          <p> <img src="<%=product.images.first.url%>" style="height:200px;width:300px"> </img></p>
          <p>Description: <%= product.description %></p>
          <br></br>
          </div>
        </div>

      <% end %>
    </div>
  <% end %>